.project-left{
    width: 15%;
    float: left;
    margin-right: 20px;
    min-height: 700px;
    margin-bottom: 10px;
}

.project-right{
    width: 17%;
    float: right;
    margin-left: 20px;
    min-height: 700px;
}

.ant-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

.paoject-left-ul li:hover{
    color: rgb(255, 1, 1);
    cursor:pointer;
}

.paoject-left-ul{
    margin-bottom: 20px;
}