
  .book_content_middle_ul{
	
    float: left;
    font-size: 0.8vw;
    margin: 0px;
    padding: 0px;
 
 }
 .book_content_middle_ul li{
   list-style: none;
      margin-top: 0.8rem;
 }
 .book_content_middle_ul_p{
   display: inline;
 }
 /****全部****/
 .book_content{
   width: 90%;
   min-height: 400px;
 }
 /****中间****/
 .book_content_middle{
    width: 80%;
    min-height: 185px;
    float: left;
 
  
  
 
 }
 /****中间上面*****/
 .book_content_middle_top{
   width: 100%;
   height: 80%;
   
   
 
 }
 /******中间下面****/
 .book_content_middle_bottom{
 
     
   float: right;
     
     margin-top: 25px;
 }
 /****左边*****/
 .book_content_left{
 
   width: 20%;
    min-height: 185px;
 
     float: left;
     
    
   
 }
 .book_content_left img{
     height: auto;
     max-width: 10vw;
     max-height: 20vh;
   margin-left:30px;
   margin-top: 20px;
     display: block;
 }
 

 .book-resource-official{
     float: left;
     width: 40%;
     margin-left: 50px;
     border: 5px;
 }

 .book-resource-third{
     width: 40%;
     float: right;
     margin-right: 50px;
 }
