.social-icons {
  padding-left: 0px;

  li {
      display: inline-block;
      margin-right: 5px;

      a {
          width: 40px;
      }
  }
}

mat-form-field {
width: 100%;
}
mat-checkbox {
padding-bottom: 5px;
}

.login-form {
max-width: 300px;
}

.login-form-forgot {
float: right;
}

.login-form-button {
width: 100%;
}

.card {
padding: 30px;
box-shadow:0px 0px 0px white;
border-radius: 20px;
width: 100%;
margin: 0px;
}

.registerbtn{
float: right;
}
.card-input{

width: 90%;
margin-bottom: 20%;
margin-left: 5%; 
margin-right: 5%;
}