<!-- <div class="card" [@routerTransition]>
  <div class="body">
    <form novalidate 
          #registerForm="ngForm" 
          (ngSubmit)="save()">
      <h4 class="text-center">{{ "Register" | localize }}</h4>
      <div class="form-group form-float">
          <mat-form-field>
              <input matInput
                 name="Name"
                 [(ngModel)]="model.name"
                 [placeholder]="'Name' | localize"
                 required
                 maxlength="32" />
          </mat-form-field>
          <mat-form-field>
              <input matInput
                  name="Surname"
                  [(ngModel)]="model.surname"
                  [placeholder]="'Surname' | localize"
                  required
                  maxlength="32"/>
          </mat-form-field>
          <mat-form-field>
              <input matInput
                   type="email"
                   name="EmailAddress"
                   [(ngModel)]="model.emailAddress"
                   [placeholder]="'EmailAddress' | localize"         
                   required
                   maxlength="255"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"/>
          </mat-form-field>
          <mat-form-field>
              <input matInput
                   name="UserName"
                   [(ngModel)]="model.userName"
                   [placeholder]="'UserName' | localize"         
                   required
                   maxlength="32"/>
          </mat-form-field>
          <mat-form-field>
             <input matInput
                    name="Password"
                    [(ngModel)]="model.password"
                    [placeholder]="'Password' | localize"
                    type="password"         
                    required
                    maxlength="32"/>
          </mat-form-field>
      </div>
      <div class="form-actions text-center">
            <button mat-button 
                    type="button"
                    [disabled]="saving"
                    [routerLink]="['../login']">
                    {{ "Back" | localize }}
            </button>
            <span>&nbsp;</span>
            <button mat-flat-button
                    type="submit"
                    flex="15"
                    color="primary"
                    [disabled]="!registerForm.form.valid || saving">
                    {{ "Submit" | localize }}
            </button>    
      </div>
    </form>
  </div>
</div> -->
<form nz-form [formGroup]="validateForm" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
        (ngModelChange)="updateConfirmValidator()"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
      <span>
        Nickname
        <i
          nz-icon
          nz-tooltip
          nzTitle="What do you want other to call you"
          nzType="question-circle"
          nzTheme="outline"
        ></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
      <input nz-input id="nickname" formControlName="nickname" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">注册</button>
    </nz-form-control>
  </nz-form-item>
</form>