.left-card{
    width: 70%;
    float: left;
    min-height: 700px;
}

.right-top-card{
    width: 28%;
    float: right;
    min-height: 335px;
}

.right-bottom-card{
    width: 28%;
    float: right;
    margin-top: 30px;
    min-height: 335px;
}