<div>
    <nz-card class="left-card" [nzTitle]="'最新发布'" [nzBordered]="false">
        <nz-list class="demo-loadmore-list" [nzDataSource]="data" [nzItemLayout]="'horizontal'"
            [nzLoading]="initLoading" [nzRenderItem]="item1" [nzLoadMore]="loadMore">
            <ng-template #item1 let-item1>
                <nz-list-item [nzActions]="[starAction1, likeAction1, msgAction1]">
                    <ng-template #starAction1><i nz-icon nzType="like" nzTheme="outline" style="margin-right: 8px;"></i>
                        {{item1.praise}}
                    </ng-template>
                    <ng-template #likeAction1><i nz-icon nzType="eye" nzTheme="outline" style="margin-right: 8px;"></i>
                        {{item1.visitVolume}}
                    </ng-template>
                    <ng-template #msgAction1>
                        <a (click)="goArticleDetailComment(item1.id)">
                            <i nz-icon nzType="message" style="margin-right: 8px;"></i>
                        </a>
                        {{item1.commentCount}}
                    </ng-template>
                    <nz-list-item-meta [nzTitle]="nzTitle1" nzAvatar="{{serverBaseUrl+item1.headPortraitUrl}}"
                        nzDescription="{{item1.description}}">
                        <ng-template #nzTitle1>
                            <a (click)="goArticleDetail(item1.id)">{{ item1.headline }}</a><br>
                            <span style="font-weight: lighter;">{{item1.userName}}</span> &nbsp;&nbsp;&nbsp;&nbsp;
                            <span
                                style="font-weight: lighter;">发布于：{{item1.creationTime | date: "yyyy-MM-dd HH:mm:ss"}}</span>
                        </ng-template>
                    </nz-list-item-meta>
                </nz-list-item>
            </ng-template>
            <ng-template #loadMore>
                <div class="loadmore">
                    <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">加载更多...</button>
                    <p style="text-align: center;" *ngIf="loadingMore">已经没有了哟</p>
                </div>
            </ng-template>
        </nz-list>
    </nz-card>
    <nz-card class="right-top-card" [nzTitle]="'热点人物'" [nzBordered]="false" [nzExtra]="selectUserTemplate">
        <nz-list class="demo-loadmore-list" [nzDataSource]="userSimpleInfos" [nzItemLayout]="'horizontal'"
            [nzLoading]="initLoading" [nzRenderItem]="item2">
            <ng-template #item2 let-item2>
                <nz-list-item [nzActions]="[starAction2]">
                    <ng-template #starAction2><i nz-icon nzType="fire" nzTheme="outline"></i>
                        {{item2.fansCount}}
                    </ng-template>
                    <nz-list-item-meta [nzTitle]="nzTitle2" (click)="goUserDetail(item2.id)"
                        nzAvatar="{{serverBaseUrl+item2.headPortraitUrl}}" nzDescription="{{item2.description}}">
                        <ng-template #nzTitle2>
                            <a (click)="goUserDetail(item2.id)">{{ item2.surname }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i *ngIf="item2.gender==1" style="color: red;" nz-icon nzType="woman" nzTheme="outline"></i>
                            <i *ngIf="item2.gender==2" style="color: rgb(33, 33, 211);" nz-icon nzType="man"
                                nzTheme="outline"></i>
                        </ng-template>
                    </nz-list-item-meta>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </nz-card>
    <ng-template #selectUserTemplate>
        <nz-input-group nzSearch [nzAddOnAfter]="selectUserDetail">
            <input type="text" [(ngModel)]="selectUser" nz-input placeholder="请输入用户昵称搜索" />
        </nz-input-group>
        <ng-template #selectUserDetail>
            <button nz-button nzType="primary" (click)="getUserSimpleInfos()" nzSearch><i nz-icon
                    nzType="search"></i></button>
        </ng-template>
    </ng-template>
    <nz-card class="right-bottom-card" [nzTitle]="'推荐书籍'" [nzBordered]="false" [nzExtra]="selectBookTemplate">
        <nz-list class="demo-loadmore-list" [nzDataSource]="bookSimpleInfos" [nzItemLayout]="'horizontal'"
            [nzLoading]="initLoading" [nzRenderItem]="item3">
            <ng-template #item3 let-item3>
                <nz-list-item [nzActions]="[starAction3]">
                    <ng-template #starAction3><i nz-icon nzType="like" nzTheme="outline" style="margin-right: 8px;"></i>
                        {{item3.praise}}
                    </ng-template>
                    <nz-list-item-meta [nzTitle]="nzTitle3" (click)="goBookDetail(item3.id)"
                        nzAvatar="{{serverBaseUrl+item3.coverUrl}}" nzDescription="{{item3.author}}">
                        <ng-template #nzTitle3>
                            <a (click)="goBookDetail(item3.id)">{{ item3.name }}</a>
                        </ng-template>
                    </nz-list-item-meta>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </nz-card>
    <ng-template #selectBookTemplate>
        <nz-input-group nzSearch [nzAddOnAfter]="selectBookByName">
            <input type="text" [(ngModel)]="selectBook" nz-input placeholder="请输入书名或作者搜索" />
        </nz-input-group>
        <ng-template #selectBookByName>
            <button nz-button nzType="primary" (click)="getBookSimpleInfos()" nzSearch><i nz-icon
                    nzType="search"></i></button>
        </ng-template>
    </ng-template>
</div>