.left-card{
    width: 70%;
    float: left;
    min-height: 1020px;
}

.right-top-card{
    width: 28%;
    float: right;
    min-height: 335px;
}

.right-bottom-card{
    width: 28%;
    float: right;
    margin-top: 30px;
    min-height: 335px;
}

.loadmore{
    width: 10%;
    margin: auto;
    margin-top: 10px;
}
.ant-card-body{
    zoom: 1;
}
