<nz-card class="simpleInfo">
    <nz-descriptions nzTitle="个人信息" nzLayout="horizontal">
      
        <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="user.headPortraitUrl"></nz-avatar>
        <nz-descriptions-item nzTitle="用户名">{{user.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="昵称">{{user.surname}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别">{{user.gender}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="邮箱">{{user.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人描述">{{user.description}}</nz-descriptions-item>
      </nz-descriptions>
      

      <a (click)="changePassword()">修改密码</a>
  </nz-card>
  <app-user-detail-edit-model #userDetailEditModal (modalSave)="refreshData()"></app-user-detail-edit-model>
  <app-change-password-model #changePasswordModal (modalSave)="refreshData()"></app-change-password-model>