<nz-card class="simpleInfo" nzTitle="个人信息" [nzExtra]="extraTemplate">
    <nz-descriptions nzLayout="horizontal">
      
      <nz-descriptions-item nzTitle="头像"><nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="headUrl"></nz-avatar></nz-descriptions-item>
        
        <!-- <nz-descriptions-item nzTitle="用户名">{{user.name}}</nz-descriptions-item> -->
        <nz-descriptions-item nzTitle="昵称">{{user.surname}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="生日">{{user.birthday | date: "yyyy-MM-dd"}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别">
            <i *ngIf="user.gender==1" nz-icon nzType="woman" nzTheme="outline"></i>
            <i *ngIf="user.gender==2" nz-icon nzType="man" nzTheme="outline"></i>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="邮箱">{{user.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人描述">{{user.description}}</nz-descriptions-item>
      </nz-descriptions>
      
  </nz-card>

  <app-article-and-project [isCurrentUser]="isCurrentUser" [userDetail]="user" #ArticleAndProjectComponent></app-article-and-project>

  <ng-template  #extraTemplate>
    <button nz-button nzType="primary" [nzSize]="size" nz-popover nzPopoverContent="编辑资料"  *ngIf="isCurrentUser" (click)="editUserDetail()">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button nz-button nzType="dashed" [nzSize]="size" nz-popover nzPopoverContent="修改密码" *ngIf="isCurrentUser" (click)="changePassword()">
        <i nz-icon nzType="key" nzTheme="outline"></i>
      </button>
    <div *ngIf="!isCurrentUser">
        <button *ngIf="!isAttention" (click)="createAttentionRecord()" [nzSize]="'large'" nz-button nzType="link">
          <i nz-icon nzType="fire" style="color:gray;" nzTheme="outline"></i>
        </button>
        <button *ngIf="isAttention" (click)="deleteAttentionRecord()" [nzSize]="'large'" nz-button nzType="link">
          <i nz-icon nzType="fire" style="color:red;" nzTheme="outline"></i>
        </button>
    </div>
  </ng-template>
  <app-user-detail-edit-model #userDetailEditModal (modalSave)="refreshData()"></app-user-detail-edit-model>
  <app-change-password-model #changePasswordModal (modalSave)="refreshData()"></app-change-password-model>