<nz-card class="simpleInfo" nzTitle="个人信息" [nzExtra]="extraTemplate">
    <nz-descriptions nzLayout="horizontal">
      
      <nz-descriptions-item nzTitle="头像"><nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="headUrl"></nz-avatar></nz-descriptions-item>
        
        <nz-descriptions-item nzTitle="用户名">{{user.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="昵称">{{user.surname}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别">{{user.gender}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="邮箱">{{user.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人描述">{{user.description}}</nz-descriptions-item>
      </nz-descriptions>
      

      <a *ngIf="isCurrentUser" (click)="changePassword()">修改密码</a>
  </nz-card>

  <app-article-and-project [isCurrentUser]="isCurrentUser" #ArticleAndProjectComponent></app-article-and-project>

  <ng-template  #extraTemplate>
    <a *ngIf="isCurrentUser" (click)="editUserDetail()">编辑资料</a>
  </ng-template>
  <app-user-detail-edit-model #userDetailEditModal (modalSave)="refreshData()"></app-user-detail-edit-model>
  <app-change-password-model #changePasswordModal (modalSave)="refreshData()"></app-change-password-model>