<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzIcon="user">
        <a routerLink="home">仪表板</a>
      </li>
      <li nz-menu-item nzIcon="user">
        <a routerLink="user">用户管理</a>
      </li>
      <li nz-menu-item nzIcon="user">
        <a routerLink="library">图书管理</a>
      </li>
      <li nz-menu-item nzIcon="user">
        <a routerLink="book-category">书籍类别管理</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>优学社区 ©2019 Implement By 拯救问题儿童</nz-footer>
  </nz-layout>
</nz-layout>