<div class="login">
    <div class="login-logo">
        <img src="../assets/images/logo.png" />
        <p style="display:inline; vertical-align:bottom; color:white; font-size: 2.7vw; font-family:隶书;">优学</p>
       
    </div>
    <div class="login-left">
        <span class="login-contenttop">
            <p style="margin-top: 10%;">知之者不如好之者</p>
            <p>好之者不如乐之者</p>
        </span>


        <span class="login-contentmid">
            <p  style="margin-top: 10%;">有两种类型的人会告诉你，在这个世界上你不能有所作</p>
            <p> 为：那些害怕尝试的人和那些害怕你会成功的人</p>
        </span>
    </div>
    <div class="login-box">
        <div class="login-box-logo">


            <router-outlet></router-outlet>
        </div>


    </div>

</div>